<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        {{#each fonts}}
            @import url(/?font={{this}});
        {{/each}}

        .container {
            max-width: 500px;
            margin-top: 50px;
            align-self: center;
            text-align: center;
        }
        th span {
            color: black;
        }
        th span:hover {
            color: grey;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Available Fonts</th>
                </tr>
            </thead>
            <tbody>
                {{#each fonts}}
                    <tr>
                        <th style="vertical-align: middle;" scope="row">
                            <span onclick="copyText(this.id)" style="font-family: {{this}};" id="{{this}}">
                                {{this}}
                            </span>
                        </th>
                    </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    <script>
        function copyText(id) {
            var link = `${window.location.protocol}//${window.location.host}/?font=${id}`
            navigator.clipboard.writeText(link);
        }
    </script>
</body>
</html>